.banner-img{
    width:100%;
    height:600px;
    object-fit:cover;
}


.overlay{
    background:rgba(0,0,0,0.35);
}


.banner-content{
    max-width:650px;
}


@media(max-width:768px){

    .banner-img{
        height:500px;
    }


    .banner-content{

        h1{
            font-size:2.5rem;
        }

        p{
            font-size:1rem !important;
        }

    }

}