.color{
    width:18px;
    height:18px;
    border-radius:50%;
    display:inline-block;
}


.red{
    background:#d94f4f;
}

.lime{
    background:#b5e61d;
}

.navy{
    background:#0b1d39;
}

.white{
    background:#fff;
}

.sky{
    background:#5cc8ff;
}

.purple{
    background:#8e44ad;
}

.pink{
    background:#ff7eb9;
}

.yellow{
    background:#ffd43b;
}

.green{
    background:#14532d;
}
.color{
    width:18px;
    height:18px;
    border-radius:50%;
    display:inline-block;
}

.btn{
    font-size:1rem;
    font-weight:500;
}